<div class="container" style="width: 40%;">
            <div class="d-flex p-2">
                <button class="btn btn-default">Q</button>
                <button class="btn btn-default">W</button>
                <button class="btn btn-default">E</button>
                <button class="btn btn-default">R</button>
                <button class="btn btn-default">T</button>
                <button class="btn btn-default">Y</button>
                <button class="btn btn-default">U</button>
                <button class="btn btn-default">I</button>
                <button class="btn btn-default">O</button>
                <button class="btn btn-default">P</button>
            </div>
            <div class="d-flex p-2">
                <button class="btn btn-default">A</button>
                <button class="btn btn-default">S</button>
                <button class="btn btn-default">D</button>
                <button class="btn btn-default">F</button>
                <button class="btn btn-default">G</button>
                <button class="btn btn-default">H</button>
                <button class="btn btn-default">J</button>
                <button class="btn btn-default">K</button>
                <button class="btn btn-default">L</button>
            </div>
            <div class="row">
                <button class="btn btn-default">Enter</button>
                <button class="btn btn-default">Z</button>
                <button class="btn btn-default">X</button>
                <button class="btn btn-default">C</button>
                <button class="btn btn-default">V</button>
                <button class="btn btn-default">B</button>
                <button class="btn btn-default">N</button>
                <button class="btn btn-default">M</button>
                <button class="btn btn-default"><i class='fas fa-backspace' style='font-size:30px;color:white'></i>
                </button>
            </div>
</div>

<style>
    button {
        font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
    }
</style>